
/* pc */

@media(min-width: 1024px) {
 
}



/* mobie tablet*/
@media (max-width: 1023px){


#nav .subnav a {
    padding: 5px 12px;
}


.btn{
    padding : 16px 16px;
}

.contact-form .form-control{
    padding: 16px;
}
.contact-info {
    line-height: 2;
}

.social-list {
    font-size: 48px;
}

.footer .social-list a{
    margin: 0 8px;
}

#footer .copyright a {
    padding: 12px 0;
    display: inline-block;
}



/* tablet */

@media(min-width: 740px) and (min-width: 1023px) {
   
}




/* mobie */
@media (max-width: 739px) {
    .s-mt-8{
        padding-top: 8px;
    }

    .s-full-width,
    .s-colunm-full{
        width: 100%;
    }
    #header {
    
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn{
        display: none;
    }


    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    
    #nav  li a{
        padding: 1px 24px;
    }

    #nav .subnav {
        position:initial;
        background-color: #000;
    }


    #nav .subnav a{
        padding: 5px 41px;
        color: #fff;
    }

    #nav > li:first-child{
        display: inline-block;
    }
   
    #content .member-item{
        width: 100%;
        float: none;
    }
    #content .member-name{
        margin-top: 30px;
    }

    #content .member-avatar {
        width:60% ;
    }

   
    .contact-form {
        margin-top: 16px ;
    }
}
}